# Dataset

# Don't upload large image/label datasets
dataset/images/
dataset/labels/

# YOLO cache files
*.cache


# Training results

# Ignore automatic YOLO training outputs
runs/


# Python cache

__pycache__/
*.pyc


# Model files

# Ignore downloaded / temporary model weights
*.pt

# But keep our final trained model
!weights/best.pt



# VS Code
.vscode/